@using Building.Domain.Entity;
@model Building.Domain.ViewModel.ProfileVIewModel

<style>
    label{
        padding-left:15px;
        font-size:medium;
    }
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 3px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        background: #E0FFFF;
    }

    input[type=text]:focus {
            border: 3px solid #1E90FF;
    }
    input[type=date] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 3px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        background: #E0FFFF;
    }

    input[type=date]:focus {
            border: 3px solid #1E90FF;
    }
    input[type=file] {
        width: 100%;
        height:auto;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 3px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        background: #E0FFFF;
    }

    input[type=file]:focus {
            border: 3px solid #1E90FF;
    }
    #back{
        position:relative;
        top: 30px
    }
    #title{
        position:relative;
        left: 190px
    }
   
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <a asp-action="Profile" asp-controller="Director" asp-route-id="@Model.EmployeeId" id="back">

                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                </svg>
            </a>
        </div>
        <div class="col">

                <h2 class="display-5" id="title">Редактирование профиля</h2>

        </div>
    </div>
                <hr class="border border-primary border-2 opacity-75">
                <br/>
    <div class="row">
                
        <div class="col-1"></div>
       
        <div class="col-10 border border-2 border-primary rounded-3">
            <br/>
            <form asp-action="ProfileEdit" asp-controller="Director" enctype="multipart/form-data"  method="post">
                <div style="margin: 15px;">

                    <br />
                    <div class="row">

                        <div class="col">

                            <input type="hidden" asp-for="EmployeeId"/>
                            <p>
                                <label asp-for="Name">Имя</label><br/>
                                <input type="text" asp-for="Name" />
                            </p>
                        </div>
                        <div class="col">

                            <p>
                                <label asp-for="SecondName">Фамилия</label><br/>
                                <input type="text" asp-for="SecondName" />
                            </p>
                        </div>
                        <div class="col">

                            <p>
                                <label asp-for="MiddleName">Отчество</label><br/>
                                <input type="text" asp-for="MiddleName"  />
                            </p>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col">

                            <p>
                                <label asp-for="Birthday">Дата рождения</label><br/>
                                <input type="date" asp-for="Birthday" value="@Model.Birthday"  />
                            </p>
                        </div>
                        <div class="col">

                            <p>
                                <label asp-for="Phone">Телефон</label><br/>
                                <input type="text" asp-for="Phone"  />
                            </p>
                        </div>
                    </div>
                    <br />
                    <p>
                        <label asp-for="Photo">Фото</label><br/>
                        <input type="file" class="form-control text-center" name="postedFiles" multiple  />
                    </p>
                    <br/>
                    <p class="text-center">
                        <input type="submit" class="btn btn-outline-primary border border-1 border-primary" value="Сохранить" />
                    </p>
                </div>
            </form>
        </div>
    </div>

</div>