@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Building.Domain.Entity.Employee>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var item in Model)
    {
        <p>@item.Name</p>
        
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
